.avatar {
    width: 45px;
    border-radius: 50%;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    width: 100%;
}

.list-item {
    align-items: center;
    border: 1px, solid, cornflowerblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    padding: 2%;
    width: 100%;
}

span {
    text-align: center;
}