.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
  background-color: white;
  border: 1px, solid, cornflowerblue;
  border-radius: 25px;
  height: 50px;
  margin-bottom: 5%;
  padding-left: 20px;
  color: black;
  width: 100%;
}
